<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">

	<resultMap id="productSelectMap" type="product">
		<result property="prodNo" 		 column="prod_no" 				jdbcType="NUMERIC"/>
		<result property="prodName"	 column="prod_name" 			jdbcType="VARCHAR" />
		<result property="prodDetail" 	 column="prod_detail" 			jdbcType="VARCHAR" />
		<result property="manuDate" 	 column="manufacture_day" 	jdbcType="VARCHAR" />
		<result property="price" 			 column="price" 					jdbcType="NUMERIC" />
		<result property="fileName" 		 column="image_file" 			jdbcType="VARCHAR" />
		<result property="regDate" 		 column="reg_date" 				jdbcType="DATE" />
		<result property="proTranCode" column="tran_code" 			jdbcType="VARCHAR"  />
		<result property="count" 		 	 column="count" 					jdbcType="INTEGER" />
		<result property="tranNo" 		 	 column="tran_no" 					jdbcType="INTEGER" />
	</resultMap>

	<insert 	id="addProduct"		parameterType="user" >
	 	INSERT
	 	INTO product(prod_no, prod_name , prod_detail , manufacture_day , price, image_file, reg_date) 
		VALUES	 (	seq_product_prod_no.nextval,	#{prodName} , #{prodDetail:VARCHAR} , #{manuDate:VARCHAR} , #{price:NUMERIC} , 
							#{fileName:VARCHAR}, SYSDATE )
	 </insert>
	 
	 <select id="findProduct" parameterType="int" resultMap="productSelectMap">
	 		SELECT
	 		prod_no, prod_name, prod_detail,manufacture_day, price, image_file, REG_DATE
	 		FROM product
	 		WHERE prod_no =#{value}
	 </select>
	 
	 <select id="updateProduct" parameterType="product" >
	 		UPDATE product
	 		<set>
	 				prod_name = #{prodName} ,
	 				prod_detail = #{prodDetail} ,
	 				price = #{price} ,
	 				manufacture_day = #{manuDate} ,
	 				image_file = #{fileName}
	 		</set>
	 		WHERE prod_no =#{prodNo}
	 </select>
	 
	 
	<select id="getProductList" parameterType="search" resultMap="productSelectMap" >
	 		SELECT *
	  		FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT p.*, t.TRAN_STATUS_CODE tran_code, t.tran_no
									        FROM product p
									        LEFT JOIN transaction t ON p.prod_no = t.prod_no
	        <where>
				<if test="searchCondition != null">
	                <choose>
	                    <when test="searchCondition == 1 and searchKeyword !=''">
	                        p.prod_name LIKE '%' || #{searchKeyword} || '%'
	                    </when>
	                    <when test="searchCondition == 2 and searchKeyword !=''">
	                         p.price = #{searchKeyword}
	                    </when>
	                </choose>
            	</if>
             </where>
					ORDER BY p.prod_no ) inner_table
					WHERE ROWNUM &lt;= #{endRowNum} )
					WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
 	<select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT prod_no , prod_name , price
					FROM product
				<if test="searchCondition != null">
					<where>
						<if test="searchCondition == 0 and searchKeyword !='' ">
				 			prod_no = #{searchKeyword}
						</if>
						<if test="searchCondition == 1 and searchKeyword !='' ">
				 		prod_name = #{searchKeyword}
						</if>
						<if test="searchCondition == 2 and searchKeyword !='' ">
								 				price = #{searchKeyword}
						</if>
					</where>
				</if> ) countTable						
	 </select>


</mapper>