<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">

	<resultMap id="purchaseSelectMap" type="purchase">
	
		<result property="tranNo" column="tran_no" jdbcType="NUMERIC" />
		<result property="purchaseProd.prodNo" column="prod_no" jdbcType="NUMERIC" />
		<result property="buyer.userId" column="buyer_id" jdbcType="VARCHAR" />
		<result property="paymentOption" column="payment_option" jdbcType="CHAR" />
		<result property="receiverName" column="receiver_name" jdbcType="VARCHAR" />
		<result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR" />
		<result property="divyAddr" column="demailaddr" jdbcType="VARCHAR" />
		<result property="divyRequest" column="dlvy_request" jdbcType="VARCHAR" />
		<result property="tranCode" column="tran_status_code" jdbcType="CHAR" />
		<result property="orderDate" column="order_date" jdbcType="DATE" />
		<result property="divyDate" column="dlvy_date" jdbcType="DATE" />

	</resultMap>

	<insert 	id="insertPurchase"		parameterType="purchase" >
	 	INSERT
	 	INTO transaction(tran_no, prod_no, buyer_id , payment_option , receiver_name, receiver_phone, demailaddr, 
	 								dlvy_request,tran_status_code, dlvy_date) 
		VALUES	 (	seq_transaction_tran_no.nextval,	#{purchaseProd.prodNo} , #{buyer.userId} , 
						#{paymentOption:VARCHAR} , #{receiverName:VARCHAR} , #{receiverPhone:VARCHAR}, #{divyAddr:VARCHAR}, 
						#{divyRequest:DATE}, #{tranCode:VARCHAR}, #{divyDate:DATE})
	 </insert>
	 
	 <select id="findPurchase" parameterType="int" resultMap="purchaseSelectMap">
	 		SELECT *
	 		FROM transaction
	 		WHERE tran_no =#{value}
	 </select>
	 
	 <select id="updatePurchase" parameterType="purchase" >
	 		UPDATE transaction
	 		<set>
	 				payment_option = #{paymentOption} ,
	 				receiver_name = #{receiverName} ,
	 				receiver_phone = #{receiverPhone} ,
	 				demailaddr = #{divyAddr} ,
	 				dlvy_request = #{deliveryRequest},
	 				dlvy_date = #{deliveryDate}
	 		</set>
	 		WHERE tran_no =#{tranNo}
	 </select>
	 
	  <select id="updateTranCode" parameterType="purchase" >
	 			UPDATE transaction
	 			SET tran_status_code = #{tranCode}
	 			WHERE tran_no =#{tranNo}
	 </select>
	 
	 <select id="getPurchaseList" parameterType="map" resultMap="purchaseSelectMap">
    SELECT *
    FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY user_id) AS rn, ts.*, u.user_id, NVL(ts.tran_status_code, 0) AS tran_code, COUNT(*) OVER () AS count
        FROM users u
        INNER JOIN transaction ts ON u.user_id = ts.buyer_id
        WHERE u.user_id = #{userId}
    ) 
    WHERE rn BETWEEN #{search.startRowNum} AND #{search.endRowNum}
</select>


	
	 
	 <select id="getSaleList" parameterType="search" resultMap="purchaseSelectMap" >
	 	SELECT * 
	 	FROM transaction
	 	WHERE PROD_NO = #{value}
	 </select>
	 
</mapper>